body{
margin:0;
background:#d1d1d1;
font-family:Arial;
}

.bill{
max-width:1500px;
background:#fff;
padding:20px;
margin:auto;
border-radius:8px;
}

.billno{
display:flex;
gap: 10px;
align-items:center;
}

.left{
display:flex;
gap:5px; /* Bill No aur value ke bich gap */
}
table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:left;
}

th{
background:#eee;
}

.total{
text-align:right;
font-weight:bold;
margin-top:10px;
}

.btn{
display:inline-block;
margin-top:15px;
background:#4CAF50;
color:#fff;
padding:10px 20px;
border:none;
border-radius:40px;
cursor:pointer;
}

.invoice-container{
width:90%;
max-width:900px;
margin:20px auto;
background:#fff;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.outer-border{
border:2px solid #000;
padding:5px;
}

.inner-border{
border:1px solid #000;
padding:20px;
position:relative;
}

.inner-border::before{
content:"";
position:absolute;
top:60%;
left:50%;
transform:translate(-50%,-50%);
width:65%;
height:65%;
background:url("https://i.ibb.co/B20vV9nR/Screenshot-2026-02-27-06-27-39-13.webp") no-repeat center;
background-size:contain;
opacity:0.2;
pointer-events:none;
}

.header-banner img{
width:100%;
}

.paid-stamp{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) rotate(-15deg);

width:130px;
height:130px;

display:none;
}

.paid-stamp img{
    width:100%;
    height:100%;
object-fit:contain;
opacity:0.9;   /* thoda realistic */
filter: contrast(120) saturate(120);
mix-blend-mode: multiply;
}

.imglogo{
    display: flex;
text-align:center;
border:1px solid #000;
padding:5px;
}

@media print{

body{
background:#fff;
margin:0;
}

.invoice-container{
width:210mm;
min-height:297mm;
margin:0;
padding:10mm;
box-shadow:none;
border-radius:0;
}

.outer-border{
border:2px solid #000;
}

.inner-border{
border:1px solid #000;
}

/* Button hide */
.btn{
display:none;
}

}
.signature-section{
display:flex;
justify-content:space-between;
margin-top:70px;
width:100%;
}

.qr-wrapper{
text-align:center;   /* sab center me aa jayega */
}

.qr-container{
    display: flex;
margin:auto;         /* QR box center */
border:1px solid #000;
padding:10px;
position:relative;
}

.sign-wrapper{
text-align:center;
}

.imglogo img{
width:120px;
height:120px;
object-fit:contain; /* image stretch nahi hoga */
display:block;
margin:auto;
}

.qr-text{
margin-top:8px;
font-size:14px;
font-weight:bold;
}
/* sirf neeche */
.name{
margin:0px;
}
.qr-popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display:none; /* default hidden */

  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,0.7);
  z-index:9999;
}

.qr-box{
  background:#fff;
  padding:30px;
  border-radius:12px;
  text-align:center;
  position:relative;

  width:200px;

  /* ✅ Center fix for any case */
  transform: translateY(0);
}
.close-btn{
  position:absolute;
  top:10px;
  right:10px;
  font-size: 40px;
  color: #bb0000;
  cursor:pointer;
  transition:0.2s;
  z-index: 10;
  text-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.close-btn:hover{
  transform: scale(1.1);
  opacity:0.8;
}